attrs==26.1.0
html5rdf==1.2.1
importlib_metadata==9.0.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
markdown-it-py==4.0.0
mdurl==0.1.2
owlrl==7.1.4
packaging==26.3
prettytable==3.18.0
pyparsing==3.2.3
pyshacl==0.30.1
rdflib==7.1.4
referencing==0.37.0
rpds-py==2026.6.3
typing_extensions==4.16.0
wcwidth==0.8.3
zipp==4.1.0
